<div class="fullscreen-bg">
    <section class="parallax">
      <div class="parallax-body">
        <div class="parallax-container _container">
          <div class="parallax-label">Дизайнерские часы</div>
          <h1 class="parallax-title">ручной работы</h1>
        </div>
        <div class="parallax-images images-parallax">
          <div class="images-parallax-item">
            <div class="images-parallax-background"></div>
          </div>
          <div class="images-parallax-item">
            <div class="images-parallax-watches-l"></div>
          </div>
          <div class="images-parallax-item">
            <div class="images-parallax-watches-r"></div>
          </div>
          <div class="images-parallax-item">
            <div class="images-parallax-watches-c"></div>
          </div>
        </div>
      </div>
    </section>
</div>

