<h1>{{NAME}} Спасибо за заявку, скоро с Вами свяжется наш консультант</h1>
<h2>На Вашу почту {{EMAIL}} отправлено сообщение, не забудьте проверить папку спам</h2>
<a href="/"><h2>Вернуться на главную</h2></a></li>
